body {
  font-family: 'Montserrat', sans-serif;
  color: #505050;
}

.logo {
  height: 66px;
}

.contact-form {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 70px;
}

.contact-form h2 {
  color: #505050;
  font-size: 35px;
  font-weight: 700;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ADEE;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  font-weight:lighter;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0077B5;
}
.submit-button img {
  vertical-align: middle;
  margin-left: 5px;
}

.category-item {
  background-size: cover;
  background-position: center;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.category-item h5 {
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .category-item h5 {
      font-size: 16px;
  }
}

footer {
  background: linear-gradient(0deg, #171352, #052c67);
  color: white;
}

.error {
  color: red;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .contact-form {
      padding: 30px;
  }

  .map-container {
      margin-bottom: 100px;
  }
}

.map-container {
position: relative;
height: 680px;
right: 80px;
}
.map-container {
object-fit: cover;
width: 260%;
}

.card-content {
background: linear-gradient(180deg, #103977, #171352);
color: white;
position: absolute;
bottom: 150px;
left: 148px;
padding: 45px;
border-radius: 10px;
}

.card-text {
margin-top: 28px;
margin-bottom: 2rem;

}


.logo-footer {
  max-width: 100%; 
  height: auto; 
  padding: 5px; 
}